<!DOCTYPE html>
<html>
  <head>
    <title>Tech University</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
       <ul id="dropdown1" class="dropdown-content">
         <li><a href="#!">one</a></li>
         <li><a href="#!">two</a></li>
         <li class="divider"></li>
         <li><a href="#!">three</a></li>
        </ul>
        <nav>
         <div class="container">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo right">Tech University</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a href="#">Courses</a></li>
              <li><a href="#">Enrollments</a></li>
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
           </div>
           </div>
        </nav>
      </header>
      <main>
        <div class="container">
            <%= yield %>
        </div>
      </main>
     </div>
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Tech University</h5>
                <p class="grey-text text-lighten-4">The future of development training</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Information</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact us</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 Tech University
            <a class="grey-text text-lighten-4 right" href="#!">About</a>
            </div>
          </div>
        </footer>

  </body>
</html>
